@import "../../scss/variables.scss";

.section {
  margin: 41px 95px auto 71px;
  display: grid;
  gap: 51px;
  width: 100%;
  @media screen and (max-width: 1339px) {
    max-width: fit-content;
    margin: 41px auto auto auto;
  }
  .header {
    padding: 0 20px;
    display: flex;
    align-items: center;
    gap: 80px;
    @media screen and (max-width: 400px) {
      gap: 0;
      justify-content: space-between;
    }
    .toggle-side-menu {
      background: none;
      border: none;
      cursor: pointer;
      width: 40px;
      height: 40px;
      font-size: 30px;
      display: none;
      @media screen and (max-width: 1300px) {
        display: block;
      }
    }
  }
  .product {
    background-color: $light-text-color;
    box-shadow: 0px 10px 60px 0px rgba(226, 236, 249, 0.5);
    border-radius: 20px;
    margin-bottom: 80px;

    @media screen and (max-width: 1000px) {
      overflow: hidden;
      width: 100%;
    }
    &__header {
      padding: 30px 53px 40px 38px;
      display: grid;
      gap: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      &__text {
        display: grid;
        gap: 7px;
        h3 {
          color: $dark-text-color;
          font-size: 22px;
          font-weight: 600;
          letter-spacing: -0.22px;
        }
        p {
          color: #16c098;
        }
      }
      &__search {
        display: flex;
        align-items: center;
        gap: 8px;
        background-color: #f9fbff;
        border-radius: 10px;
        height: 22px;
        width: 202px;
        padding: 8px 7px;
        input {
          border: none;
          outline: none;
          background: none;
          width: 100%;
          height: 100%;
          font-family: "Poppins", sans-serif;
          font-size: 12px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: -0.12px;
          &::placeholder {
            color: #b5b7c0;
            opacity: 1;
          }
        }
        svg {
          width: 24px;
          height: 24px;
        }
      }
      @media screen and (max-width: 800px) {
        padding: 20px 30px;
      }
      @media screen and (max-width: 500px) {
        display: flex;
        flex-direction: column;
        align-items: start;
        gap: 20px;
        padding: 20px 15px;
      }
    }
    &__content {
      @media screen and (max-width: 1000px) {
        overflow: auto;
        width: 100%;
      }
      &::-webkit-scrollbar {
        width: 2px;
        height: 10px;
      }

      &::-webkit-scrollbar-thumb {
        background-color: #b5b7c0; /* цвет бегунка */
        border-radius: 10px; /* округлось бегунка */
      }
      .table {
        @media screen and (max-width: 1000px) {
          overflow: hidden;
          width: fit-content;
        }
        &__header {
          display: flex;
          justify-content: space-between;
          padding: 0 44px 14px 38px;
          @media screen and (max-width: 800px) {
            padding-left: 30px;
            padding-right: 30px;
          }
          @media screen and (max-width: 500px) {
            padding-left: 15px;
            padding-right: 15px;
          }
          p {
            color: $label-text-color;
            font-weight: 500;
          }
        }
        &__content {
          padding: 0 44px 0 38px;
          @media screen and (max-width: 800px) {
            padding-left: 30px;
            padding-right: 30px;
          }
          @media screen and (max-width: 500px) {
            padding-left: 15px;
            padding-right: 15px;
          }
          &__user {
            justify-content: space-between;

            display: flex;
            padding: 20px 0 19px 0;
            align-items: center;
            p {
              color: $main-text-color;
              font-weight: 500;
            }
            .status {
              width: 78px;
              height: 27px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 4px;
              &.active {
                background-color: $active-background-color;
                border: 1px solid $active-bordertext-color;
                p {
                  color: $active-text-color;
                }
              }
              &.inactive {
                background-color: $inactive-background-color;
                border: 1px solid $inactive-text-color;
                p {
                  color: $inactive-text-color;
                }
              }
            }
          }
        }
      }
    }
    &__footer {
      display: flex;
      padding: 30px 40px 41px 38px;
      justify-content: space-between;
      align-items: center;
      p {
        color: #b5b7c0;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
        letter-spacing: -0.14px;
      }
      @media screen and (max-width: 1000px) {
        padding: 20px 30px;
      }
      @media screen and (max-width: 600px) {
        padding-left: 15px;
        padding-right: 15px;
        flex-direction: column;
        gap: 20px;
      }
    }
  }
}

.name {
  width: 172px;
}
.company {
  width: 131px;
}
.phone {
  width: 156px;
}
.mail {
  width: 207px;
}
.country {
  width: 140px;
}
.status {
  width: 80px;
}
