$main-text-color: #292d32;
$side-menu-text-color: #9197b3;
$divider-color: #eeeeee;
$label-text-color: #b5b7c0;
$light-text-color: #ffffff;
$dark-text-color: #000000;
$pagination-text-color: #404b52;
$pagination-background-color: #f5f5f5;
$active-text-color: #008767;
$active-bordertext-color: #00b087;
$active-background-color: #16c09861;
$inactive-text-color: #df0404;
$inactive-background-color: #ffc5c5;
$selected-background-color: #5932ea;
